@page
@model OnlineVideoGamePortal.Pages.AboutModel
@{
    ViewData["Title"] = "About The Team Members";
}


<div class="text-center">
    <h1 class="display-4">Meet The Team !!</h1>
</div>
<div class="text-center" alignment="justify">
    <centre><h1><font color="blue">Online Video Game Store</font></h1></centre>
</div>
<hr size="80" color="black">
<p>
    This concept of making a website for video game stores has been proposed and developed by 2 of us, belonging to the University Of Cincinnati, enrolled in the Masters in Information Systems course.
    Names are as follows:
    Teammate 1 : Nida Naz Khan
    Teammate 2 : Naga Snigdha Gayatri Ganugapaty
</p>
<div class="row">
    <div class="col-md-6">
        <p>
          <img src='https://lh5.googleusercontent.com/hCFK9-SBDQppzkbjyYqUllufe9Ogo06NIz-da9YN7SSR8pQjgTV1y8E_L_k=w2400' />
        </p>
    </div>
</div>