@page
@model OnlineVideoGamePortal.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}

<h1>Help</h1>

<h3>User Guide</h3>

<iframe src="https://www.keepandshare.com/doc4/110655/2838994?da=y&ifr=y" width="900" height="700" scrolling="yes" frameborder="1"></iframe>

